body {
    background: #000;
    font-family: 'Manjari' !important;
}
  
::selection {
background: #D3D3D3;
color: #FFF;
}

::-moz-selection {
background: #D3D3D3;
color: #FFF;
}

.tile {
padding: 30px;
min-height: 250px;
background: rgba(255, 255, 255, 0.11);
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-weight: 100;
}

a, a:link, a:visited {
color: #86D0E6;
}

a:hover {
color: #59BFDD;
}

.tile-hover {
color: rgba(255, 255, 255, 0.9);
}

.tile-hover:hover {
-webkit-animation: text-anim 3s;
/* Chrome, Safari, Opera */
animation: text-anim 3s;
}


/*Animation */

@-webkit-keyframes text-anim {
0% {
    color: rgba(255, 255, 255, 0.9);
}
50% {
    color: rgba(255, 255, 255, 1);
}
100% {
    color: rgba(255, 255, 255, 0.9);
}
}

@keyframes text-anim {
0% {
    color: rgba(255, 255, 255, 0.9);
}
50% {
    color: rgba(255, 255, 255, 1);
}
100% {
    color: rgba(255, 255, 255, 0.9);
}
}

.tile-logo {
color: #FCFCFC;
border-right: 3px solid #60B9CE;
text-align: center;
}

@media only screen and (max-width: 40em) {
.extra-large {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 3em;
}
}

@media only screen and (min-width: 40.063em) {
.extra-large {
    font-family: 'Manjari', sans-serif;
    font-weight: 100;
    font-size: 1em;
}
.top-space {
    height: 4em;
}
.bottom-space {
    height: 5em;
}
}


.helper-img {
color: #FFF;
text-align: center;
padding: 20px 20px 0px;
}

.helper-img h4 {
color: #FFF;
}

.helper-img img {
max-height: 200px;
max-width: 200px
}

.helper-text {
text-align: center;
padding: 30px 20px 0px;
}

.textbox {
background-color: #5D5D5D !important;
color: #FFF !important;
border: 1px solid #909090 !important;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.textbox-error {
background-color: #5D5D5D !important;
color: #FFF !important;
border: 2px solid #2ba6cb !important;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.sp-border-top {
border-left: 3px solid #60B9CE;
}

#complete p {
font-family: "Open Sans", sans-serif;
font-weight: 100;
font-size: 18px;
line-height: 40px;
}

.footer {
padding: 10px;
text-align: right;
}

.footer p {
font-size: 0.8em;
color: #FFF;
font-family: "Open Sans", sans-serif;
}
